@import "@shared/styles/size-vars";

.text {
  margin: 0;

  &.normal {
    font-weight: 400;
  }

  &.medium {
    font-weight: 500;
  }

  &.bold {
    font-weight: 700;
  }

  &.alternative {
    font-family: 'Hero', sans-serif;
  }
}

@media screen and (width > $pad-breakpoint) {
}

@media screen and (width > $desktop-breakpoint) {
}
