@use "@shared/assets/IconsVars" as icons;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  max-width: 500px;
}

.logo {
  width: 226px;
  height: 45px;
  background-image: icons.$logo;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  margin-top: 30px;
  text-align: center;
}

.button {
  margin-top: 70px;
}
