@use "@shared/styles/mixins" as mixins;

.button {
  @include mixins.mediumText;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  padding: 16px 0;
  width: 100%;
  font-family: inherit;
  color: white;
  background-color: var(--primary);

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    background-color: var(--disabled_button);

    &:hover {
      opacity: 1;
    }
  }
}
