@use "@shared/styles/mixins" as mixins;

.button {
  @include mixins.mediumText;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 16px 0;
  width: 100%;
  font-family: inherit;

  &.primary {
    border: none;
    color: white;
    background-color: var(--primary);
  }

  &.secondary {
    border: solid 1px var(--primary);
    color: var(--primary);
    background-color: white;
  }

  &.secondary-red {
    background-color: white;
    border: solid 1px var(--error_text);
    color: var(--error_text);
  }

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    background-color: var(--grey_100);

    &:hover {
      opacity: 1;
    }
  }
}
