.fullname {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top {
  display: flex;
  flex-direction: column;
  margin: 160px auto 40px;
  max-width: 1200px;
  gap: 30px;

  &__filters {
    display: flex;
    gap: 16px;
  }
}

.filter_button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  width: 140px;
  font-size: 14px;
  gap: 5px;

  &__icon {
    background-color: var(--main_text);
  }
}

.filters {
  padding: 5px;
}

.text {
  text-align: center;
}

.buttons {
  display: flex;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  gap: 16px;
}

.points {
  position: relative;
  bottom: 8px;
  font-weight: 500;
  font-size: 32px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .element {
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }

  .warning {
    color: var(--error_text);
  }
}
