.fullname {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top {
  display: flex;
  flex-direction: column;
  margin: 160px auto 40px;
  max-width: 1200px;
  gap: 30px;

  &__filters {
    display: flex;
    gap: 16px;
  }
}

.filter_button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  width: 140px;
  font-size: 14px;
  gap: 5px;

  &__icon {
    background-color: var(--main_text);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--main_text);
  background-color: white;
  gap: 10px;

  &__top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--sidebar_border);
    padding-bottom: 10px;
    gap: 10px;
  }

  &__el {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
      color: var(--primary);
    }
  }
}

.import {
  display: flex;
  place-items: center center;
  justify-content: center;
  border: 1px solid var(--primary);
  border-radius: 15px;
  height: 40px;
  min-width: 40px;
}

.import_icon {
  background-color: var(--primary);
}

.filters {
  padding: 5px;
}

.text {
  text-align: center;
}

.buttons {
  display: flex;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  gap: 16px;
  justify-content: center;
}

.points {
  position: relative;
  bottom: 8px;
  font-weight: 500;
  font-size: 32px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .element {
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }

  .warning {
    color: var(--error_text);
  }
}
