@use "@shared/assets/IconsVars" as icons;

.container {
  display: flex;
  flex-direction: column;
  width: 270px;
  gap: 5px;
  cursor: pointer;
  margin-bottom: 10px;

  .image {
    border-radius: 16px;
    width: 270px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .name {
    font-size: 20px;
    margin-top: 5px;
  }

  .btn {
    font-size: 16px;
    height: 40px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
  }
  .btn:disabled {
    background-color: #8C8C8C;
    &:hover {
        background-color: #8C8C8C;
        cursor: not-allowed;
    }
}
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}

.coin {
  width: 24px;
  height: 29px;
  background-image: icons.$coin;
}

.amount {
  color: var(--primary);
}
