@use "../../assets/IconsVars" as icons;

.mail {
  -webkit-mask: icons.$mail;
  mask: icons.$mail;
}

.visible {
  -webkit-mask: icons.$visible;
  mask: icons.$visible;
}

.non-visible {
  -webkit-mask: icons.$non_visible;
  mask: icons.$non_visible;
}

.employees {
  -webkit-mask: icons.$employees;
  mask: icons.$employees;
}

.benefits {
  -webkit-mask: icons.$benefits;
  mask: icons.$benefits;
}

.applications {
  -webkit-mask: icons.$applications;
  mask: icons.$applications;
}

.questions {
  -webkit-mask: icons.$questions;
  mask: icons.$questions;
}

.check {
  -webkit-mask: icons.$check;
  mask: icons.$check;
}

.account {
  -webkit-mask: icons.$account;
  mask: icons.$account;
}

.bag {
  -webkit-mask: icons.$bag;
  mask: icons.$bag;
}

.filters {
  -webkit-mask: icons.$filters;
  mask: icons.$filters;
}

.close {
  -webkit-mask: icons.$close;
  mask: icons.$close;
}

.loupe {
  -webkit-mask: icons.$loupe;
  mask: icons.$loupe;
}

.copy {
  -webkit-mask: icons.$copy;
  mask: icons.$copy;
}

.import {
  -webkit-mask: icons.$import;
  mask: icons.$import;
}

.upload {
  -webkit-mask: icons.$upload;
  mask: icons.$upload;
}

.download {
  -webkit-mask: icons.$download;
  mask: icons.$download;
}

.move {
  -webkit-mask: icons.$move;
  mask: icons.$move;
}
