@use "../../assets/IconsVars" as icons;

.mail {
  -webkit-mask: icons.$mail;
  mask: icons.$mail;
}

.visible {
  -webkit-mask: icons.$visible;
  mask: icons.$visible;
}

.non-visible {
  -webkit-mask: icons.$non_visible;
  mask: icons.$non_visible;
}
