@import "@shared/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 48px;
}

.filter {
  display: flex;
  gap: 24px;
  cursor: pointer;

  .text {
    @include largeText;

    color: var(--grey_100);

    &.active {
      color: var(--primary);
    }
  }
}

.fullname {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pending {
  color: #e7ab08;
}

.approved {
  color: #00be00;
}

.declined {
  color: #FF4040;
}
