@import "@shared/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 68dvh;
  gap: 48px;
}

.filter {
  display: flex;
  cursor: pointer;
  gap: 24px;

  .text {
    @include largeText;

    color: var(--grey_100);

    &.active {
      color: var(--primary);
    }
  }
}

.img {
  border-radius: 16px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.move {
  background-color: var(--main_text);
  cursor: pointer;

  &.disabled {
    background-color: var(--grey_100);
  }

  &.reverse {
    transform: rotate(180deg);
  }
}

.pag {
  display: flex;
  align-items: center;
  margin-top: auto;
  height: 32px;
  gap: 20px;

  .item {
    border: none;
    width: 32px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    cursor: pointer;

    &.active {
      border-radius: 50%;
      color: white;
      background-color: var(--primary);
    }
  }
}

.fullname {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pending {
  color: #6A6A6A;
}

.processing {
  color: #E7AB08;
}

.approved {
  color: #00BE00;
}

.declined {
  color: #FF4040;
}

.cancelBtn {
  width: 210px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
}
