.container {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 70px 40px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  gap: 24px;
}

.buttons {
  display: flex;
  margin-top: 24px;
  gap: 24px;
  justify-content: center;

  .btn {
    width: 220px;
    height: 50px;
  }
}

.confirmText {
  font-size: 20px;
  text-align: center;
}
