@import "@shared/styles/mixins";

.buttons {
  display: flex;
  gap: 16px;
}

.el {
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
}

.copy {
  background-color: var(--main_text);

  &.active {
    background-color: var(--primary);
  }
}

.filters {
  padding: 5px;
  width: 200px;
}

.warning {
  color: var(--error_text);
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 48px;
}

.filter {
  display: flex;
  cursor: pointer;
  gap: 24px;

  .text {
    @include largeText;

    color: var(--grey_100);

    &.active {
      color: var(--primary);
    }
  }
}

.fullname {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pending {
  color: #e7ab08;
}

.approved {
  color: #00be00;
}

.declined {
  color: #ff4040;
}
