.container {
  display: flex;
  flex-direction: column;
  height: 90%;
  gap: 48px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .top {
    display: flex;
    justify-content: space-between;
  }
}
