$main_bg: white;
$main_text: black;
$input_border: #0b2027;
$input_border_focus: #00c08b;
$placeholder: #637b82;
$background_gray: #e8e8e8;
$icons: #0b2027;
$error_text: #ff616d;

$main_bg-dark: black;
$main_text_dark: white;
$input_border-dark: red;
$input_border_focus-dark: red;
$placeholder-dark:red;
$background_gray-dark: red;
$icons-dark: red;
$error_text-dark: #ff616d;

@mixin light {
  --main_bg: #{$main_bg};
  --main_text: #{$main_text};
  --input_border: #{$input_border};
  --input_border_focus: #{$input_border_focus};
  --placeholder: #{$placeholder};
  --background_gray: #{$background_gray};
  --icons: #{$icons};
  --error_text: #{$error_text};
}

@mixin dark {
  --main_bg: #{$main_bg-dark};
  --main_text: #{$main_text-dark};
  --input_border: #{$input_border-dark};
  --input_border_focus: #{$input_border_focus-dark};
  --placeholder: #{$placeholder-dark};
  --background_gray: #{$background_gray-dark};
  --icons: #{$icons-dark};
  --error_text: #{$error_text-dark};
}
