@import "fonts";
@import "color-vars";

:root {
  --main_bg: #{$main_bg};
  --main_text: #{$main_text};
  --active_black: #{$active_black};
  --input_border: #{$input_border};
  --input_border_focus: #{$input_border_focus};
  --placeholder: #{$placeholder};
  --background_gray: #{$background_gray};
  --icons: #{$icons};
  --error_text: #{$error_text};
  --primary: #{$primary};
  --description_text: #{$description_text};
  --grey_100: #{$grey_100};
  --grey_200: #{$grey_200};
  --grey_300: #{$grey_300};
  --sidebar_border: #{$sidebar_border};
}

* {
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main_text);
  background-color: var(--main_bg);
}

body[theme="dark"] {
  @include dark;
}

body[theme="light"] {
  @include light;
}
