@import "@shared/styles/size-vars";

.title {
  margin: 0;

  &.alternative {
    font-family: 'Hero', sans-serif;
  }
}

h3 {
  font-size: 20px;
}

@media screen and (width > $pad-breakpoint) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }
}

@media screen and (min-width > $desktop-breakpoint) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }
}
