.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
  gap: 24px;
}

.buttons {
  display: flex;
  margin-top: 45px;
  gap: 24px;
  justify-content: center;
}

.AddBtn {
  height: 40px;
}

.modalTitle {
  text-align: center;
  margin-bottom: 54px;
}

.inputContainerModal {
  width: 530px;
  margin: 0 auto;
  box-sizing: border-box;
}

.inputFieldModal {
  border-color: #C5C6CC;
  background-color: white;
  border-radius: 12px;
  padding: 14px 16px;
  display: inline;
  width: 100%;
  box-sizing: border-box;
}

.form_buttons {
  display: flex;
  margin-top: 48px;
  width: 50%;
  gap: 24px;
}

.checkbox {
  grid-row-start: 6;
}

.form_container {
  display: flex;
  gap: 32px
}
