@import "@shared/styles/mixins";

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
  gap: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  gap: 24px;
}

.AddBtn {
  height: 40px;
}

.modalTitle {
  margin-bottom: 54px;
  text-align: center;
}

.inputContainerModal {
  margin: 0 auto;
  width: 530px;
  box-sizing: border-box;
}

.inputFieldModal {
  display: inline;
  border-color: #c5c6cc;
  border-radius: 12px;
  padding: 14px 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.form_buttons {
  display: flex;
  margin-top: 48px;
  width: 50%;
  gap: 24px;
}

.checkbox {
  grid-row-start: 6;
}

.form_container {
  display: flex;
  gap: 64px;
}

.dots {
  min-width: 40px;
  cursor: pointer;
}

.import_icon {
  background-color: var(--primary);
}

.AddBtn {
  height: 40px;
}

.import {
  display: flex;
  place-items: center center;
  justify-content: center;
  border: 1px solid var(--primary);
  border-radius: 15px;
  height: 40px;
  min-width: 40px;
}

.searchBar {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  gap: 16px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .element {
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }

  .warning {
    color: var(--error_text);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--main_text);
  background-color: white;
  gap: 10px;

  &__top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--sidebar_border);
    padding-bottom: 10px;
    gap: 10px;
  }

  &__el {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;

    &:hover {
      color: var(--primary);
    }
  }
}

.points {
  position: relative;
  bottom: 8px;
  font-weight: 500;
  font-size: 32px;
  cursor: pointer;
}

.filter_button {
  &__icon {
    background-color: var(--main_text);
  }
}
