@import "@shared/styles/mixins";

.selector {
  @include largeText;

  border-radius: 12px;
  padding: 14px 16px;
  cursor: pointer;

  .default {
    border: 1px solid var(--grey_300);
  }

  .filter {
    border: 1px solid var(--main_text);
  }
}

.option:hover {
  background-color: var(--grey_200);
}

.option {
  &.active {
    color: var(--primary);
  }
}
