@import "@shared/styles/mixins";

.selector {
  border-radius: 12px;
  padding: 14px 16px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Golos', sans-serif;
  font-weight: 500;
  width: 400px;

  .default {
    border: 1px solid var(--grey_300);
  }

  .filter {
    border: 1px solid var(--main_text);
  }
}

select:disabled {
  background-color: #D9D9D980;
}

.option:hover {
  background-color: var(--grey_200);
}

.option {
  &.active {
    color: var(--primary);
  }
}
