@import "@shared/styles/mixins";

.fullname {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filters {
  padding: 5px;
}

.text {
  text-align: center;
  font-size: 20px;
}

.import {
  display: flex;
  place-items: center center;
  justify-content: center;
  border: 1px solid var(--primary);
  border-radius: 15px;
  height: 40px;
  min-width: 40px;
}

.import_icon {
  background-color: var(--primary);
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .element {
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }

  .warning {
    color: var(--error_text);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--main_text);
  background-color: white;
  gap: 10px;

  &__top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--sidebar_border);
    padding-bottom: 10px;
    gap: 10px;
  }

  &__el {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
      color: var(--primary);
    }
  }
}

.points {
  position: relative;
  bottom: 8px;
  font-weight: 500;
  font-size: 32px;
  cursor: pointer;
}

.top {
  display: flex;
  flex-direction: column;
  margin: 160px auto 40px;
  max-width: 1200px;
  gap: 30px;

  &__filters {
    display: flex;
    gap: 16px;
  }

  .title {
    font-weight: 500;
    font-size: 32px;
  }
}

.container {
  margin-bottom: 100px;
}

.filters {
  padding: 5px;
}

.filter_button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  width: 140px;
  font-size: 14px;
  gap: 5px;

  &__icon {
    background-color: var(--main_text);
  }
}

.filter_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.filter_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  gap: 15px;

  &__input {
    font-size: 16px !important;
  }
}

.checkbox_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .element {
    flex-direction: row-reverse;
    width: fit-content;
    font-weight: 400;
  }
}

.active_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio {
  flex-direction: row-reverse;
  width: fit-content !important;

  input {
    border-radius: 10px;
  }
}

.adaptation {
  justify-content: space-between;
  width: 100%;
}
