@import "@shared/styles/mixins";

.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.label {
  @include mediumText;

  font-weight: 700;
}

.checkbox {
  margin: 0;
  border-radius: 6px;
  width: 24px;
  height: 24px;

  &:checked {
    background-color: var(--primary);
  }
}
